*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
ul, li{
    text-decoration: none;
    list-style: none;
}
  
img{
    width: 100%;
}
  
a{
    text-decoration: none;
    color: currentColor;
}
  
input, select:focus-visible{
    outline: none;
}

.pages{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;

    .page{
        width: 50px;
        line-height: 50px;
        border-radius: 50%;
        text-align: center;
        cursor: pointer;
    }
}